*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Lato,sans-serif;
    background-color: #fff6ee !important;
    color: #000 !important;
    font-size: 18px !important;
    line-height: 32px !important;
}


#nav-bar{
    position: sticky;
    top: 0;
    z-index: 0;
}
.navbar{
    background-color: #fee4cf;
    padding: 0px;
    height: 85px;
}
.nav-block{
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 20px;
    align-items: center;
}


.navbar-light .navbar-nav .nav-link {
    color: #c9888c !important;
}
.brand{
    
    transition:  transform .4s;
    
}
.brand:hover{
    transform: rotate(360deg);
}

/* -----------------about me------------------ */

#About_Me{
    background-color: #fee4cf;
}

.row{
     padding-top: 130px !important;
     padding-left: 35px;
     padding-right: 35px; 
}

.job-title{
    color: #6d3035;
    line-height: 90px;
}
h1{
    font-family: Montserrat,sans-serif;
    font-size: 80px !important;
    font-weight: 700 !important;
}
.text-span{
    background-image: url(https://assets.website-files.com/606ba6cb7fddaa4aa95b526d/60709d3f1e99856920b6e912_Span%20Line.svg);
    background-position: 50% 100%;
    background-size: auto;
    background-repeat: no-repeat;
}
.job-description{
    font-size: 20px;
    color: rgba(109,48,53,.8);
    margin-top: 20px;
    line-height: 36px;
}
.primary-button{
    width: 170px;
    height: 64px;
    margin-right: 40px;
    padding-right: 0;
    padding-left: 0;
    padding: 9px 15px;
    color: #fff;
    border: 0
    
}
.job-button{
    text-decoration: none;
    display: flex;
    align-items : center;
    border-radius: 50px;
    background-color: #000;
    justify-content: space-around;
}
.button-link{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}
.display-image{
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;

}

/* -----------------------------introduction section----------------------------------- */
.introduction{
    display: flex;
    margin-top: 140px;
    margin: 70px 35px;
    grid-auto-columns: 1fr;
    grid-column-gap: 140px;
    grid-row-gap: 16px;
}
.intro-box{
    padding: 40px;
    border-style: solid;
    border-width: 1px 1px 8px;
    border-color: #f1f1f1;
    border-radius: 3px;
    background-color: #fff;
}
.introduce-title{
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
}
h3{
    font-family: Montserrat,sans-serif;
    font-size: 32px !important;
    line-height: 46px !important;
    font-weight: 600 !important;
}
.introduce-paragraph{
    margin-bottom: 0;
    color: #000;
    font-size: 18px;
    line-height: 32px;
}
.exp-text{
    width: 500px !important;
}
._10{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 110px;
    color: #f66e6e;
}

.exp-para{
    width: 310px;
    margin-left: auto;
    font-family: Montserrat,sans-serif;
    color: #6d3035;
    font-size: 32px;
    line-height: 46px;
}
.intro-div{
    display: flex;
    flex-wrap: nowrap !important;
}
/* ----------------------------my service---------------------------- */
.my-service-div{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-service-title{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    line-height: 1.4em;
    text-align: left;
}
h2{
    font-family: Montserrat,sans-serif;
    color: #000;
    font-size: 56px !important;
    font-weight: 600 !important;
}
.my-service-span{
    background-image: url(https://assets.website-files.com/606ba6cb7fddaa4aa95b526d/60709d3f1e99856920b6e912_Span%20Line.svg);
    background-position: 50% 100%;
    background-size: auto;
    background-repeat: no-repeat;
}
.my-service-grid{
    display: grid;
    width: 100%;
    margin-top: 80px;
    grid-auto-columns: 1fr;
    grid-column-gap: 110px;
    grid-row-gap: 40px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}
.service-block {
    padding: 8px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    background-color: #fff;
}
.service-image-1{
    height: 285px;
    background-image: url(https://assets.website-files.com/606ba6cb7fddaa4aa95b526d/60716e71a4f8de467d95d9f1_Service%20Image%201.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.service-image-2{
    height: 285px;
    background-image: url(https://assets.website-files.com/606ba6cb7fddaa4aa95b526d/60716e714624183b79b912ac_Service%20Image%202.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.service-image-3{
    height: 285px;
    background-image: url(https://assets.website-files.com/606ba6cb7fddaa4aa95b526d/60716e71703f6d7600b05eee_Service%20Image%203.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
h4{
    font-family: Montserrat,sans-serif;
    font-size: 24px !important;
    line-height: 36px !important;
    font-weight: 600 !important;
}
.service-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.service-text{
    max-width: 290px;
    color: rgba(0,0,0,.8);
}
/* ---------------------------------------my works------------------------------------ */

.my-works-div{
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-works-title{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    line-height: 1.4em;
    text-align: left;
}
.my-works-grid{
    display: grid;
    grid-auto-columns: 1fr;
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 80px;
}
.my-works-span{
    background-image: url(https://assets.website-files.com/606ba6cb7fddaa4aa95b526d/60709d3f1e99856920b6e912_Span%20Line.svg);
    background-position: 50% 100%;
    background-size: auto;
    background-repeat: no-repeat;
}
.project-block{
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 1102px;
    height: 400px;
    padding: 60px;
    flex-direction: row;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 110px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    border-style: solid;
    border-width: 1px 1px 8px;
    border-color: #f1f1f1;
    border-radius: 3px;
    background-color: #fff;
}
.project-image{
    position: static;
    left: auto;
    top: 0;
    right: 10;
    bottom: 0;
    display: block;
    height: 400px;
}
.project-inner-block{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
}
.project-text{
    margin-bottom: 30px;
    color: #000;
    line-height: 1.6em;
}
/* -------------------------experience------------------------------ */
#experience{
    background-color: #fee4cf;
}
.exp-div{
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 30px;
    padding-right: 30px;
}
.exp-title{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    line-height: 1.4em;
    text-align: left;
}
.exp-span{
    background-image: url(https://assets.website-files.com/606ba6cb7fddaa4aa95b526d/60709d3f1e99856920b6e912_Span%20Line.svg);
    background-position: 50% 100%;
    background-size: auto;
    background-repeat: no-repeat;
}
.exp-grid{
    display: grid;
    width: 100%;
    margin-top: 80px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-left: 50px;
}
.exp-block{
    padding: 30px;
    display: flex;
    height: 280px;
    max-width: 620px;
    flex-direction: column;
    align-items: flex-start;
    border-style: solid;
    border-width: 1px 1px 8px;
    border-color: #f1f1f1;
    border-radius: 3px;
    background-color: #fff;
}
.website-link{
    color: #f66e6e;
}
.date-location{
    display: flex;
    width: 100%;
    margin-top: auto;
    justify-content: space-between;
}
.location {
    text-align: right;
}
/* ---------------------------------testimonial---------------------- */
.t-div{
    background-color: #000;
}
.t-content{
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 35px;
    padding-right: 35px;
}

.t-span{
    color: #fff;
    background-image: url(https://assets.website-files.com/606ba6cb7fddaa4aa95b526d/60709d3f1e99856920b6e912_Span%20Line.svg);
    background-position: 50% 100%;
    background-size: auto;
    background-repeat: no-repeat;
}
.t-inner-div{
    display: flex;
    margin-top: 80px;
    flex-direction: row;
    align-items: center;
}
.t-tab{
    display: flex;
    flex-direction: column;
}
.t-tab-link{
    display: flex;
    width: 440px;
    height: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-width: 1px 1px 8px;
    border-color: #f1f1f1;
    border-radius: 3px;
    background-color: #fff;
}
.w-tab-link {
    vertical-align: top;
    text-decoration: none;
    padding: 9px 30px;
    text-align: left;
    cursor: pointer;
    color: #222;
}
.client-name-block{
    display: flex;
    margin-left: 18px;
    flex-direction: column;
    justify-content: center;
}
.client-name {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
}
.client-position {
    margin-top: 8px;
    color: rgba(0,0,0,.6);
    line-height: 16px;
}
.t-tab-content{
    margin-left: 220px;
}
.quote-text{
    max-width: 620px;
    font-family: Montserrat,sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
/* -------------------------company section---------------------------------- */
.company-div{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-section{
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 70px 35px;
    flex-direction: column;
    align-items: center;
}
.company-title{
    margin-top: 0;
    margin-bottom: 50px;
    font-family: Montserrat,sans-serif;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 36px !important;
}
.company-grid{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
/* -----------------------------------recent post---------------------------------- */
.recent-post-content{
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 70px 35px;
    margin-top: 140px;
    flex-direction: column;
    align-items: center;
}
.recent-title{
    margin-right: auto;
    text-align: left;
    margin-bottom: 0px;
}
.recent-span{
    background-image: url(https://assets.website-files.com/606ba6cb7fddaa4aa95b526d/60709d3f1e99856920b6e912_Span%20Line.svg);
    background-position: 50% 100%;
    background-size: auto;
    background-repeat: no-repeat;
}
.recent-post-collection{
    margin-top: 80px;
    margin-bottom: 80px;
}
.recent-post-collection-list{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.post-image{
    height: 220px;
    width: 82%;
    border-radius: 3px 3px 0 0;
    background-color: #ff8787;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.post-text-block {
    padding: 40px;
    height: 100%;
    width: 82%;
    border-right: 1px solid #f1f1f1;
    border-bottom: 8px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #fff;
}
.category {
    display: block;
    margin-bottom: 8px;
    color: #f66e6e;
    text-decoration: none;
    text-transform: uppercase;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.recent-a {
    background-color: transparent;
    font-family: Montserrat,sans-serif;
    color: #000 !important;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.post-title {
    margin-top: 0;
    margin-bottom: 20px;
}
.date{
    opacity: .8;
}
.recent-button {
    display: flex;
    height: 54px;
    margin-top: auto;
    padding-right: 32px;
    padding-left: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #000;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}
.w-button {
    padding: 9px 15px;
    color: #fff;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}
/* ----------------------------------------footer---------------------------------- */
.footer {
    position: static;
    display: flex;
    max-width: 100%;
    margin-top: 80px;
    justify-content: center;
    background-color: #000;
}
.footer-block {
    width: 100%;
    max-width: 1280px;
    margin-right: 35px;
    margin-left: 35px;
}
.subscribe-form-block {
    display: grid;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 40px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 16px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-image: url(https://assets.website-files.com/606ba6cb7fddaa4aa95b526d/607193c5f2b294a550326754_Arrow%20Svg.svg);
    background-position: 52% 121%;
    background-repeat: no-repeat;
}
.subscribe-title {
    width: 440px;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    line-height: 65px;
}
.form-block {
    display: flex;
    height: 60px;
    width: 400px;
    flex-direction: column;
    justify-content: center;
}

.w-form {
    margin: 0 0 15px;
}
.subscribe-form {
    position: relative;
    display: flex;
    width: 400px;
}
.subscribe-text-field {
    height: 64px !important;
    margin-bottom: 0 !important;
    padding-left: 30px !important;
    border-radius: 66px !important;
}
.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
}
.footer-submit-button {
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 160px;
    height: 64px;
    border-radius: 66px !important;
    background-color: #f66e6e !important;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.f-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898ec;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    border-radius: 0;
}